body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #000;
  color: #fff
}

.nav-link {
  color: #fff !important;
  font-weight: 500;
}

.Discover {
  margin: 50px 0;
}

.Discover .content {
  padding: 40px 20px;
}
.discover-heading {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 33px;
  font-family: serif;
  margin-bottom: 0;
  color: green;
}

.story-heading {
  color: red;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-family: serif;
}

.Discover p {
  text-align: center;
  padding: 0 40px;
}

.Discover img {
  width: 350px;
  height: 250px;
}

.discover-img {
  position: relative;
  margin: auto;
  width: 350px;
  height: 250px;
  box-shadow: 10px 10px yellow;
}

.filter {
  margin: 0 1%; 
  display: flex;
  justify-content: space-between;
}

.search-input {
  width: auto;
  margin: 0;
  padding: 0;
}

.searchbar {
  font-size: 15px;
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  padding: 10px;
  position: relative;
  transition: all .2s;
  transition-delay: .1s
}

.searchbar::placeholder {
  opacity: .5;
}

select {
  width: 150px !important;
  height: 40px;
  border: none !important;
  outline: none;
  padding: 10px;
  text-decoration: none;
}

select:focus {
  outline: none !important;
  border: none !important;
}

.list {
  width: 30%;
  height: 400px;
  border-right: 1px solid #ccc;
}

.list ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 5%;
}

.list ul li {
  width: auto;
  height: 40px;
  padding: 8px;
  margin-bottom: 7px;
  background-color: #fff;
  color: #000;
  box-shadow: 0 7px 5px 0 rgba(50, 50, 50, 0.2);
  border-radius: 15px 0 0 0;
  font-style: italic;
  font-size: 15px;
  cursor: pointer;
}

.food-items {
  display:flex;
  justify-content: space-around;
  width: 94%;
  margin: 3.5% 3.5% 0 3.5%;
}

.total-items {
    margin: 15px;
    width: 96%;
    font-weight: bold;
    display: none;
}

.menu-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.items {
  display:flex;
  justify-content: space-around;
  top: 20%;
  margin-bottom: 30px;
}

.thumbnail {
  margin-right: 0;
}

.thumbnail img {
  margin-right: auto !important;
  margin-left: auto !important;
  transform: scale(1)
}

.thumbnail img:hover {
  transition: all 0.3s ease;
  transform: scale(1.02);
}

.item-name {
  text-decoration: none;
  font-size: 16px;
}

.item-price {
  float: left;
  margin: auto 0; 
}

.item-card {
  position: relative;
  background: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  color: white;
  z-index: 100;
  box-shadow: 10px 10px yellow;
}
.cart-items {
  padding: 0;
}

.cart-headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.each-cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-item {
  font-size: 24px ; 
  cursor : pointer 
}

.remove-item:hover {
  color: #c49b63;
}

.qty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e9e9e9;
  height: 28px;
}

.qty i {
  border: 1px solid #e9e9e9;
  cursor: pointer;
  padding: 4px;
}

.qty b{
  padding: 2px 5px; 
  margin: 10px 0;
  margin-left: 1px;
  margin-right: 1px;
  font-size: 15px;
}

.item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-color: #000;
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-btn {
  height: 40px;
  background-color: #000;
  color: #c49b63;
  border: none;
  padding: 0 25px;
  font-size: 12px;
  border: 1px solid #c49b63;
  box-shadow: 0 0 7px 0 rgba(56, 56, 56, 0.2);
  transform: scale(1);
}


.cart-btn:hover, .cart-btn:focus {
  background-color: #c49b63;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
  outline: none;
  transform: scale(1.09);
  cursor: pointer;
}

.cart-section {
  margin: 0 2% 2% 2%;
}

.checkout-btn {
    background-color: #000;
    background-color: #c49b63;
    transform: scale(1);
    margin: 0 !important
}

.checkout-btn:hover {
  background-color: #c49b63;
  color: #fff;
  transition: all 0.3s ease;
  outline: none;
  transform: scale(1.02);
}

.book-table {
  padding: 40px;
  text-align: center;
  background-color: #333;
}

.book-table-heading {
  color: #c49b63
}

.book-table-text {
  margin: 0 20%;
  font-size: 15px;
}

.book-table-btn {
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 30px;
  font-size: 14px;
  border: 1px solid #c49b63;
  color: #c49b63;
  cursor: pointer;
  transform: scale(1);
  background-color: #333;
}

.book-table-btn:hover {
  background-color: #c49b63;
  color: #fff;
  transition: all 0.3s ease;
  outline: none !important;
  transform: scale(1.09);
}

.contact-us {
  color: #c49b63;
}

.Footer {
  background-color: #000;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.socials a {
  margin-right: 10px;
}

@media(max-width: 1050px) {
  .discover-img {
    margin: auto;
  }

  .searchbar {
    width: 280px;
  }

  .food-items {
    margin: 9.5% 3.5% 0 3.5%;
  }
  .menu-items {
    display: flex;
    justify-content: center;
  }

  .follow-us {
    text-align: right;
  }
}